*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
  background-color: #FFF;
}

.container{
  display: flex;
  flex-direction: column;
  margin: 10%;
  background: linear-gradient(45deg,rgba(87,9,121,1) 0%, rgba(117,0,255,1) 100%);
  border-radius:50px;
}

.photo{
  max-width:150px;
  margin-left:auto;
  margin-right: auto;
  padding-top:60px;
}

.some{
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  border-radius: 30px;
  margin: 10%;
  padding-top:100px;
}

.some div{
  margin: 5%;
}

td{
  font-size: 3vw;
}

hr{
  align-items: center;
  border:dotted 15px #eee;
  border-bottom: none;
  display: block;
  width:300px;
}

img{
  width:50%;
  margin:10px;
}
p{
  padding-top:50px;
  color:white;
}